*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    height: 100px;
    background-color: rgb(228, 84, 173);
    display: flex;
}


.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.container-inizia {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}