* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    height: 90px;
    display: flex;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.container-inizia {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


/* BOTTONI */

.blu {
    background-color: rgb(10, 6, 226);
    color: white;
    padding: 10px 20px;
    border: none;
}


/* HERO */
.container-hero {
    background-color: rgb(137, 209, 243);
    height: 650px;
    padding-top: 60px;
}


.titolo {
    width: 60%;
    margin: 0 20%;
}

.titolo h1 {
    font-size: 80px;
    font-weight: bold;
}

.container-hero2 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container-testo {
    width: 20%;
}

.container-testo button {
    margin: 30px 0;
}

.freccia {
    color: black;
    font-size: 40px;
    padding-top: 60px;
    display: inline-block;
}

.container-img {
    width: 40%;
}

.tru {
    max-width: 100%;
}

.fascia-bianca {
    height: 150px;
    border-bottom: 3px solid gray;
}

/* MAIN */

.container-main {
    margin: 0 25%;
}



.container-tabelle {
    display: flex;
    justify-content: space-between;


}

.card {
    width: 30%;



}


.etichetta {
    padding: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testo-card {
    padding: 35px 20px 0 35px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
}








.testo-card ul {
    padding-left: 20px;
}

.testo-card li {
    padding: 6px 0;
}


/* TABELLA ORIZZONTALE */

.card-orizzontale {
    margin-top: 100px;
}



.testo-end {
    width: 60%;
    margin-top: 40px;
}

.card-orizzontale {
    margin-bottom: 120px;
}


/* SEZIONE CENTRALE */

.container-img-testo {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

}

.img-centrale {
    width: 60%;
}

.box-sezione {
    width: 40%;
    padding: 35px 20px 0 35px
}

.box-sezione p {
    margin: 15px 0;
}

.partner {
    max-width: 100%;
}


/* IMMAGINI E TESTO */


.container-sezione {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.carta-img-testo {
    width: 31%;

}


/* TESTO FINALE */


.testo-finale {
    font-size: 30px;
    width: 50%;
    margin-bottom: 40px;
}


/* FOOTER */


footer {
    background-color: black;
    margin-top: 70px;
}